.options
{
  display:flex;
  flex-direction: column;
  justify-content: start;
  padding: 2%;
}

.stat-heading
{
  margin-top: 1vmin;
  margin-bottom: 3vmin !important;
}

.stat-heading,.stat-content,.stat-nums
{
  display: flex;
  justify-content: center;
  font-size: 4vmin;
  width: 100%;
  margin-bottom: 2vmin;
}

.stat-content,.stat-nums
{
  justify-content: space-evenly;
  font-size: 2vmin;
}

.stat-nums
{
  font-size: 6vmin;
}